<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  {{ page.header }}

  <div class="hero-section">
    <div class="splide hero-images" role="group" aria-label="Image Carousel">
      <div class="splide__track">
        {% if journal_nodes %}
        <ul class="splide__list">
          {% for node in journal_nodes %}
          <li class="splide__slide">
            <img src="{{ file_url(node.field_image.entity.fileuri) }}" alt="{{ node.title.value }}" />
            <div class="title-link">
              <h2> {{ node.title.value }} </h2>
              <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">Read More</a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="speaker-bloc">
    <div class="container">
      <div class="row d-flex align-items-center mt-5">
        <div class="col-md-5">
          <img src="{{ base_path ~ directory }}/images/moses-wetangula.png" alt="" />
        </div>
        <div class="col-md-7">
          <h4 class="fw-bold"> Introducing </h4>
          <h1 class="fw-bold"> Rt. Hon. (Dr.) Moses M. Wetang'ula, EGH, MP</h1>
          <img src="{{ base_path ~ directory }}/images/curved-line.svg" alt="" class="curved-line" />
          <h4 class="fw-bold py-4"> Speaker of the National Assembly </h4>
          <p> The Rt. Hon. (DR.) Moses M. Wetang'ula, EGH, MP is the 8th Speaker of the National Assembly of Kenya since
            independence in 1963. He was elected to the position of Speaker on Thursday, 8th September 2022 during the
            First Sitting of the National Assembly of the 13th Parliament. </p>
          <a href=""> MORE INFORMATION <img src="{{ base_path ~ directory }}/images/chevron-right.svg" alt=""
              style="width: 10px; margin-left: 5px;" /> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mps-bloc my-5">
    <h1> MEMBERS OF PARLIAMENT </h1>
    <div class="container">
      <div class="row">
        <h5 class="text-center mt-5"> Use the filter below to find your leader <h5>
            {{ drupal_view('members_of_parliament') }}
      </div>
    </div>
  </div>

  <hr class="green-line">

  <div class="house-business-bloc">
    <h2> The National Assembly House Business </h2>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/old-school-svgrepo-com.svg" alt="">
            <p> Next Sitting </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/pdf-file-svgrepo-com.svg" alt="">
            <p> Hansard </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/vote-info-svgrepo-com.svg" alt="">
            <p> Votes & Proceedings </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/books-bills.svg" alt="">
            <p> Bills </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/bill-svgrepo-com.svg" alt="">
            <p> Bills Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/motions-tracker.svg" alt="">
            <p> Motions Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/paper-and-pen.svg" alt="">
            <p> Order Paper </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/book-svgrepo-com.svg" alt="">
            <p> Legislative Proposals Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/files-alt-2-svgrepo-com.svg" alt="">
            <p> Treaties-Protocol Sessional Paper Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/files-alt-2-svgrepo-com.svg" alt="">
            <p> Statutory Instruments Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/books-svgrepo-com.svg" alt="">
            <p> Petitions </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/write-document-svgrepo-com.svg" alt="">
            <p> Petitions Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/messages-svgrepo-com.svg" alt="">
            <p> Statements Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/questions-svgrepo-com.svg" alt="">
            <p> Questions Tracker </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/folder-arrow-down-svgrepo-com.svg" alt="">
            <p> Papers Laid </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/messages-dots-svgrepo-com.svg" alt="">
            <p> Messages </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/speaker-svgrepo-com.svg" alt="">
            <p> Communication From Chair </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div>
            <img src="{{ base_path ~ directory }}/images/report-svgrepo-com.svg" alt="">
            <p> Auditors General Reports </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ page.footer }}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>

  <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js">
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let splide_hero = new Splide('.splide.hero-images', {
        type: 'loop',
        perPage: 1,
        autoplay: true,
        speed: 300,
      });
      splide_hero.mount();
    });
  </script>

</body>

</html>
