{# Hall of Leaders Page . Code a pagination feature in JS for to move between members in the 13th & 12th parliament cause they are many #}

<body>
  {{ page.header }}
  <div class="top-banner">
    <h1> Parliament of Kenya </h1>
    <div class="breadcrumb-box">
      <a href="#"> Parliament</a>
      <a href="#"> {{ node.title.value }} </a>
    </div>
  </div>

  <div class="hall-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2> {{ node.title.value }} </h2>
          <div class="">
            {{ page.content }}
          </div>

          <div class="leaders-display">
            <div class="slide">
              <button class="me-5" data-dir="previous" onclick="selectParliament(event)">
                <</button> <fieldset id="parliament-fieldset">
                  <legend class="sr-only">Select a Parliament: </legend>
                  <div class="input-wrapper active">
                    <input class="sr-only" type="radio" id="parliament-12th" name="parliament" value="12th">
                    <label for="parliament-12th">12th Parliament</label>
                  </div>
                  <div class="input-wrapper">
                    <input class="sr-only" type="radio" id="parliament-13th" name="parliament" value="13th">
                    <label for="parliament-13th">13th Parliament</label>
                  </div>
                  </fieldset>
                  <button class="ms-5" data-dir="next" onclick="selectParliament(event)">></button>
            </div>

            {% if mp_nodes %}
            <div data-simplebar id="mp-container">
              <div class="row">
                {% for node in mp_nodes %}
                <div class="col-md-2 col-6 text-center" data-parliament="{{ node.field_parliament_number.value }}">
                  {% set image_url = file_url(node.field_mp_image.entity.getFileUri())  %}

                  {% if image_url %}
                  <img src="{{ image_url }}" alt="{{ node.field_images.alt }}">
                  {% else %}
                  <img src="{{ base_path ~ directory }}/images/mp-placeholder.jpg">
                  {% endif %}
                  <p class="mt-2 mb-0 fw-bold">{{ node.title.value }}</p>
                  {% if node.field_constituency.value %}
                  <p class="mb-2">MP: {{ node.field_constituency.value }}</p>
                  {% else %}
                  <p class="mb-2">{{ node.field_parliament_role.value }}</p>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

  {{ page.footer }}

  <script>
    let activeParliament = '12th'; // Default value

    filterMembersByParliament(activeParliament);

    function selectParliament(e) {
      e.preventDefault();
      const dir = e.target.dataset.dir;
      const activeEl = document.getElementById(`parliament-${activeParliament}`);
      const parentEl = activeEl.parentElement;
      parentEl.classList.remove('active');

      let newActiveEl;
      if (dir === 'next') {
        newActiveEl = parentEl.nextElementSibling ? parentEl.nextElementSibling : parentEl.parentElement.children[1];
      } else {
        newActiveEl = parentEl.previousElementSibling.tagName.toLowerCase() !== 'legend' ? parentEl
          .previousElementSibling : parentEl.parentElement.lastElementChild;
      }

      newActiveEl.classList.add('active');
      activeParliament = newActiveEl.firstElementChild.value;

      // Filter and display the nodes based on the selected parliament
      filterMembersByParliament(activeParliament);
    }

    function filterMembersByParliament(parliament) {
      const mps = document.querySelectorAll('#mp-container .col-md-2');
      mps.forEach(mp => {
        if (mp.dataset.parliament === parliament) {
          mp.style.display = 'block'; // Show if the member belongs to the selected parliament
        } else {
          mp.style.display = 'none'; // Hide otherwise
        }
      });
    }

    var myElement = document.getElementById('mp-container');
    new SimpleBar(myElement, {
      autoHide: false
    });

  </script>

</body>
