{# House Business Page #}

{{ page.header }}

<div class="container my-5">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <h5 class="fw-bold">National Assembly House Business</h5>
      <div class="doc-options">
        <button class="d-flex tablink" onclick="openHouse(event, 'upcoming')">
          <img src="{{ base_path ~ directory }}/images/upcoming-business.svg">
          <p>Upcoming Business</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'order')">
          <img src="{{ base_path ~ directory }}/images/order-paper.svg">
          <p>Order Paper</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'votes')">
          <img src="{{ base_path ~ directory }}/images/votes.svg">
          <p>Votes & Proceedings</p>
        </button>
        <button class="d-flex tablink" id="defaultOpen" onclick="openHouse(event, 'bills')">
          <img src="{{ base_path ~ directory }}/images/bills.svg">
          <p>Bills</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'hansard')">
          <img src="{{ base_path ~ directory }}/images/pdf.svg">
          <p>Hansard</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'statutory')">
          <img src="{{ base_path ~ directory }}/images/statutory.svg">
          <p>Statutory Instruments</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'motions')">
          <img src="{{ base_path ~ directory }}/images/motions.svg">
          <p>Motions</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'petitions')">
          <img src="{{ base_path ~ directory }}/images/petitions.svg">
          <p>Petitions</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'notice')">
          <img src="{{ base_path ~ directory }}/images/notice-paper.svg">
          <p>Notice Papers</p>
        </button>
        <button class="d-flex tablink" onclick="openHouse(event, 'papers')">
          <img src="{{ base_path ~ directory }}/images/papers-laid.svg">
          <p>Papers Laid</p>
        </button>
      </div>
    </div>

    <div class="col-lg-9 col-12">
      <h5 class="fw-bold d-lg-none">National Assembly House Business</h5>
      <p> Parliamentary Session </p>

      <div class="dropdown d-lg-none">
        <a class="btn btn-outline-dark dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Select an item </a>

        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" onclick="dropHouse('upcoming', this); return false;">Upcoming Business</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('order', this); return false;">Order Papers</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('votes', this); return false;">Votes & Proceedings</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('bills', this); return false;">Bills</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('hansard', this); return false;">Hansard</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('statutory', this); return false;">Statutory</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('motions', this); return false;">Motions</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('petitions', this); return false;">Petitions</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('notice', this); return false;">Notice Papers</a>
          <a href="#" class="dropdown-item" onclick="dropHouse('papers', this); return false;">Papers Laid</a>
        </div>
      </div>

      <div id="upcoming" class="doc-section">
        <h4>Upcoming Business</h4>
        {{ drupal_view('upcoming_business') }}
      </div>

      <div id="order" class="doc-section">
        <h4>Order Papers</h4>
        {{ drupal_view('order_papers') }}
      </div>

      <div id="votes" class="doc-section">
        <h4>Votes & Proceedings</h4>
        {{ drupal_view('votes_proceedings') }}
      </div>

      <div id="bills" class="doc-section">
        <h4>Bills</h4>
        {{ drupal_view('bills_acts') }}
      </div>

      <div id="hansard" class="doc-section">
        <h4>Hansard</h4>
        {{ drupal_view('hansard') }}
      </div>

      <div id="statutory" class="doc-section">
        <h4>Statutory Instruments</h4>
        {{ drupal_view('statutory_instruments') }}
      </div>

      <div id="motions" class="doc-section">
        <h4>Motions</h4>
        {{ drupal_view('motions') }}
      </div>

      <div id="petitions" class="doc-section">
        <h4>Petitions</h4>
        {{ drupal_view('petitions') }}
      </div>

      <div id="notice" class="doc-section">
        <h4>Notice Papers</h4>
        {{ drupal_view('notice_papers') }}
      </div>

       <div id="papers" class="doc-section">
        <h4>Papers Laid</h4>
        {{ drupal_view('papers_laid') }}
      </div>

    </div>
  </div>
</div>


<script>
  function openHouse(evt, houseName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("doc-section");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active-tab", "");
    }
    document.getElementById(houseName).style.display = "block";
    evt.currentTarget.className += " active-tab";
  }

  document.getElementById("defaultOpen").click();

  function dropHouse(houseName, menuItem) {
    var dropdownItems = document.getElementsByClassName("dropdown-item");
    for (var i = 0; i < dropdownItems.length; i++) {
      var item = dropdownItems[i];
      item.classList.remove("is-active");
    }
    for (var i = 0; i < dropdownItems.length; i++) {
      var item = dropdownItems[i];
      if (item.getAttribute("onclick") === `dropHouse('${houseName}', this); return false;`) {
        item.classList.add("is-active");
        var button = menuItem.closest(".dropdown").querySelector(".dropdown-menu a");
        button.textContent = item.textContent;
      }
    }

    var docSection = document.getElementsByClassName("doc-section");
    for (var j = 0; j < docSection.length; j++) {
      var doc = docSection[j];
      if (doc.id === houseName) {
        doc.style.display = "block";
      } else {
        doc.style.display = "none";
      }
    }
  }

  // Get all elements with the class "doc-row"
  const docRows = document.querySelectorAll('.doc-row');

  // Loop through each element
  docRows.forEach((row, index) => {
    // Check if the index is odd
    if (index % 2 === 1) {
      // Set the background color to white for odd numbered elements
      row.style.backgroundColor = 'white';
    }
  });

</script>

{{ page.footer }}
