{# Hall of Leaders Page #}

<body>
  {{ page.header }}
  <div class="top-banner">
    <h1> Parliament of Kenya </h1>
    <div class="breadcrumb-box">
      <a href="#"> Parliament</a>
      <a href="#"> {{ node.title.value }} </a>
    </div>
  </div>

  <div class="hall-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2> {{ node.title.value }} </h2>
          <div class="">
            <p>Establishing a hall of leaders within the Parliament of Kenya is a testament to the nation's recognition
              of the remarkable contributions made by its Members of Parliament (MPs). As custodians of the people's
              voice and architects of legislative process, MPs play an integral role in shaping the nation's trajectory.
              Each MP represents a diverse array of constituencies, embodying the aspirations and concerns of their
              constituents. By enshrining their legacy within the Hall of Leaders, the Parliament of Kenya not only
              honours their individual achivements but also commemorates their collective efforts in advancing
              democracy, championing social justice and fostering national unity. The Hall serves as a beacon of
              inspiration for current and future generations, reminding them of the vital role MPs play in steering the
              nation towards prosperity and inclusive governance.</p>
          </div>

          <div class="leaders-display">
            <div class="slide">
              <button class="me-5" data-dir="previous" onclick="selectParliament(event)">
                <</button> <fieldset id="parliament-fieldset">
                  <legend class="sr-only">Select a Parliament: </legend>
                  <div class="input-wrapper active">
                    <input class="sr-only" type="radio" id="parliament-12th" name="parliament" value="12th">
                    <label for="parliament-12th">12th Parliament</label>
                  </div>
                  <div class="input-wrapper">
                    <input class="sr-only" type="radio" id="parliament-13th" name="parliament" value="13th">
                    <label for="parliament-13th">13th Parliament</label>
                  </div>
                  </fieldset>
                  <button class="ms-5" data-dir="next" onclick="selectParliament(event)">></button>
            </div>
              {{ page.content }}
          </div>
        </div>

      </div>
    </div>

    {{ page.footer }}

    <script>
      let activeParliament = '12th'; // Default value

      filterMembersByParliament(activeParliament);

      function selectParliament(e) {
        e.preventDefault();
        const dir = e.target.dataset.dir;
        const activeEl = document.getElementById(`parliament-${activeParliament}`);
        const parentEl = activeEl.parentElement;
        parentEl.classList.remove('active');

        let newActiveEl;
        if (dir === 'next') {
          newActiveEl = parentEl.nextElementSibling ? parentEl.nextElementSibling : parentEl.parentElement.children[1];
        } else {
          newActiveEl = parentEl.previousElementSibling.tagName.toLowerCase() !== 'legend' ? parentEl
            .previousElementSibling : parentEl.parentElement.lastElementChild;
        }

        newActiveEl.classList.add('active');
        activeParliament = newActiveEl.firstElementChild.value;

        // Filter and display the nodes based on the selected parliament
        filterMembersByParliament(activeParliament);
      }

      function filterMembersByParliament(parliament) {
        const mps = document.querySelectorAll('#mp-container .col-md-2');
        mps.forEach(mp => {
          if (mp.dataset.parliament === parliament) {
            mp.style.display = 'block'; // Show if the member belongs to the selected parliament
          } else {
            mp.style.display = 'none'; // Hide otherwise
          }
        });
      }

    </script>

</body>
