  <div class="col-md-2">
    <div>
      {% set image_url = file_url(node.field_mp_image.entity.getFileUri())  %}

      {% if image_url %}
      <img src="{{ image_url }}" alt="{{ node.field_images.alt }}">
      {% else %}
      <img src="{{ base_path ~ directory }}/images/mp-placeholder.jpg">
      {% endif %}
    </div>
    <div>
      <p>{{ label }}</p>
      <p>{{ node.field_constituency.value }}</p>
    </div>
  </div>
